* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Navbar */

nav {
    display: flex;
    background-color: #2db7e6;
    justify-content: space-around;
    /* padding: 20px 0; */
    height: 50px;
    align-items: center;
    color: #e7ecee;
}

nav .logo {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;

}

nav ul li a {
    text-decoration: none;
    color: #d9eff8;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: #fff;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    /* background-color: black; */
}

.menu-toggle input {
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    right: 0;
    height: 20px;
    opacity: 0;
    cursor: pointer;
    z-index: 999;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #d9eff8;
    border-radius: 3px;
    transition: all .5s;
}





/* humburger animasi */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: #fff;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg);
    background-color: #fff;
}

.menu-toggle input:checked~span:nth-child(3) {
    scale: 0;
}







/* Responsive Breakpoint*/

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {

    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        flex-direction: column;
        bottom: 0;
        height: 100%;
        background-color: #2db7e6;
        justify-content: space-evenly;
        width: 80%;
        text-align: center;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }


}